<% provide(:title, 'Links') %>
<h1>Links</h1>
<p>
	Rails: <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
<p>
        Tutorial: <a href="http://guides.rubyonrails.org/getting_started.html"> Tutorial Rails</a>
</p>
